html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.mainText {
    padding:75px 20px;

}
.mainImage {
    border-radius: 20px;
    filter:drop-shadow(0 0px 10px rgb(0 255 144));
    margin: 40px;
}
.mainSubtitle {
    font-weight: 400;
    letter-spacing: 2px;
}
.smallText {
    text-align: right;
    color:red;
}
.makeYourOwnDiv {
    background: grey;
    margin: 0;
}
.makeYourOwnText {
    margin: 100px 0 20px 0;
    color:white;
}
.pizzaDisplay :hover {
    transform: scale(1.05);


}