@page
@model RazorPizzeria.Pages.OrdersModel
@{
}
<h3>Pizza Orders</h3>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Id  
            </th>
            <th>
               Pizza Name
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody>
      
            @foreach (var item in @Model.PizzaOrders)
            {
                <tr>
                <td>@item.Id</td>
                <td>@item.PizzaName</td>
                <td>@item.BasePrice</td>
                </tr>
            }
       
    </tbody>

</table>
